<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Notification</title>
</head>
<body>
    <div class="jumbotron">
        <div id="content" class="container">
          <h1>Notifs</h1>
        
          <form action="notifs" method="post">
            <div class="form-group">
              <label class="form-control-label" for="name">Key</label>
              <input class="form-control" type="password" id="password" name="password" placeholder="Password" value="">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="password">Text</label>
              <input class="form-control" type="text" id="text" name="title" placeholder="Title" value="">
            </div>
            <div class="form-group">
                <label >Body</label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Message" name="message"></textarea>
            </div>
              <button class="btn btn-primary" type="submit" name="submit" value="Submit">Submit</button>
        
        </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>